{
    "//": "general settings",
    "general": {
        "//": "how long to wait after startup for the network & API to become accessible",
	    "//": "useful if started after boot while the network is still being set up",
	    "//": "value is in seconds, specify 0 to wait forever until access succeeds",
        "startup_timeout": 0,

	    "//": "number of days after which records will get deleted. use 0 to keep them forever",
	    "record_days": 0,

	    "//": "if enabled, thresholds configured below will be check and a message will be sent if above values",
	    "enable_ventilation_checker": true
    },

    "//": "telegram-related settings",
    "telegram": {
        "//": "telegram bot authorization token",
        "token": "YOUR_TELEGRAM_API_TOKEN",

        "//": "telegram IDs of the bot owner(s). only owners can interact with the bot",
        "owner_ids": [ YOUR_TELEGRAM_USER_ID ]
    },

    "//": "DHT sensor settings",
    "dht": {
        "//": "DHT type (can be either DHT11 or DHT22)",
        "type": "DHT22",

        "//": "GPIO input pin of DHT sensor",
        "gpio": 17,

        "//": "sensor read intervall in seconds, you can also use 0 for continuous reads",
        "//": "(which will read every 2.0 seconds, which is the minimum read interval).",
        "//": "each record is about 32 bytes, so an interval of 60 seconds will result in 45 kB per day.",
        "read_interval": 60.0,

        "//": "will get added to the read value",
        "offset_hum": 0,
        "offset_temp": 0,
        "//": "will be multiplied with the read value AFTER adding the offset"
        "scale_hum": 1,
        "scale_temp": 1.

        "//": "humidity threshold value after which a message will be send, for the min time has to be passed",
        "thres": 62,
        "thres_time_passed": 600

    },

    "//": "MHZ 16/19 sensor (co2) settings",
    "mhz": {
        "//": "Enable or disable MHZ sensor",
        "enabled": true,

        "//": "sensor read intervall in seconds",
        "read_interval": 60.0,

        "//": "co2 threshold value after which a message will be send, for the min time has to be passed",
        "thres": 1800,
        "thres_time_passed": 600

    },


    "//": "image plotting settings",
    "plot": {
        "//": "path where the plotted images will be stored, temporarily",
        "path": "/tmp/piDhtBot.png",

        "//": "width of plotted image in inch, set to 0 to use the default",
        "width": 12.8,

        "//": "height of plotted image in height, set to 0 to use the default",
        "height": 9.6,

    	"//": "dpi of plotted images",
	    "dpi": 100
    },

    "//": "call a third party website",
    "webhook": {
        "enabled": true,

        "//": "call interval in seconds",
        "interval": 30,

        "//": "url path which will get called. be sure to put them in the right order: temp, hum, co2",
        "url": "http://example.com/update.php?temp={}&hum={}&co2={}",

        "//": "multiply values with this factor. keep at 1 for most usages.",
        "multi": 1
    }


}
